{% extends "header.html" %}

{% block title %}Work_Experience{% endblock %}

{% block header_name %}Work and Experience{% endblock %}

{% block header_items %}
{% if page_name == 'work_experience' %}
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link" aria-current="page">About Me</a></li>
      <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="{{ url_for('my_skills') }}" class="nav-link">Skills</a></li>
      <li class="nav-item"><a href="{{ url_for('education') }}" class="nav-link">Education</a></li>
      <li class="nav-item"><a href="{{ url_for('interest') }}" class="nav-link">Interest and Hobbies</a></li>
    </ul>
{% endif %}
{% endblock %}

{% block content %}
<div class="px-4 pt-1 mt-5 text-center">
  <h1 class="display-4 fw-bold text-body-emphasis">Work and Experience</h1>
</div>

<div class="px-5 h4 text-start fw-normal">
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <!--col 1-->
    <div class="feature col text-left">
      <ul class="text-left">
        <li>
          <p>
            <strong>2021 – 2022:</strong> Six months Industrial Internship at Trellinx Fabrication Services.
            Eket
          </p>
        </li>
        <li><p>Volunteered in a community development service.</p></li>
      </ul>
    </div>

    <!--col 2-->
    <div class="feature col">
      <ul class="text-body">
        <li>
          <p>
            Team Lead in a Final Year Project which aimed to Design, Simulate and
            Optimized a Helicopter Propeller.
          </p> 
        </li>
      </ul>
    </div>
  </div>  
</div>
{% endblock%}

{% block copyright %}{{ copyright_year }}{% endblock %}