    {% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Nice's Blog</h1>
                            <span class="subheading">A collection of Nice's random musings</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('get_post', post_id=1)}}">
                            <h2 class="post-title">{{ posts[0].title }}</h2>
                            <h3 class="post-subtitle">{{ posts[0].subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://twitter.com/NAkanimoh">Victor Nice</a>
                            on {{ year_quote }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('get_post', post_id=2)}}"><h2 class="post-title">{{ posts[1].title }}</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://twitter.com/NAkanimoh">Victor Nice</a>
                            on {{ year_quote }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{{url_for('get_post', post_id=3)}}">
                            <h2 class="post-title">{{ posts[2].title }}</h2>
                            <h3 class="post-subtitle">{{ posts[2].subtitle }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://twitter.com/NAkanimoh">Victor Nice</a>
                            on {{ year_quote }}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
    {% include "footer.html" %}

